.contact-header {
    display: flex;
    align-items: center;
    background-color: #00a884;
    color: white;
    padding: 15px;
    width: 100%;
    justify-content: space-between; 
    height: 40px;
    transition: all 0.3s ease;
}

.contact-header .icons {
    display: flex;
    align-items: center;
}

.contact-header .logo{
    font-weight: bold;
    font-size: 18px;
}

.contact-header .icons svg {
    cursor: pointer;
    font-size: 30px;
    width: 30px;
  }
  
 
  .contact-header.search-visible .form-busqueda {
    display: flex;
    width: 92%;
    margin-top: 0.5rem;
    margin-right: 0;
  }
  
  .contact-header.search-visible .icons {
    display: none; 
  }

  .contact-header.search-visible .logo {
    display: none; 
  }