*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:black;
    color: white;
    box-shadow: 0px 10px 24px -5px rgba(255,255,255,0.75);

}
.header-content{
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
   
.img{
    width: 300px;
    height: 150px;
}