.contact-list{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100vh;
  }
  
  ::-webkit-scrollbar {
    width: 8px;  
    height: 8px; 
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;  
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;  
    border-radius: 10px;    
    border: 2px solid transparent; 
  }