.form-busqueda {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #075e54;
    border-radius: 4px;
  }
  
  .form-busqueda input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
  }