.form-search {
  position: absolute;
  top: 0; 
  left: 0;
  z-index: 999; 
  justify-content: space-around;
  background-color: #035C55;

}
  
  .form-search input {
    width: 90%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    margin : 0.5rem;
  }

  .back{
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #111B21;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    
  }
  
  .back:hover {
    background-color: #111B21;
    color: white;
    border: 0px solid #111B21;
  }