@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inter:wght@100..900&family=Roboto:ital,wght@1,100&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/*Inicio de carta de colores*/
.color-card {
display: flex;
flex-direction: column;
width: 250px;
gap: 20px;
}
.color-card .colors {
display: flex;
flex-direction: column;
width: 100%;
height: 250px;
background-color: #808080;
border-radius: 15px;
overflow: hidden;

}
.color-card .colors .color:nth-child(1) {
height: 40%;

}
.color-card .colors .color:nth-child(2){
height: 30%;

}
.color-card .colors .color:nth-child(3) {
height: 17%;

}
.color-card .colors .color:nth-child(4) {
height: 13%;

}
.color-card .color-card-controls {
display: flex;
flex-direction: row; /*Viene pr default*/
justify-content: space-between;
align-items: center;

}
.color-card .color-card-controls .btn-like{
height: 40px;
padding: 0 14px;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
background-color: #ffffff;
border: 1px solid rgba(105, 103, 103, 0.674);
border-radius: 10px;
gap: 5px;
}

.color-card .color-card-controls .time{
color: #8A8A8A;
font-size: 12px;
}
