
/* Style formulario de mensajes */

form{
    display: flex;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    background-color: #111B21;
    align-items: center;
    
    
}
.input-mensaje{
    border-radius: 50px;
    padding: 10px;
    border: 2px rgba(0, 0, 0, 0.596);
    box-shadow: 0 0 3px 1px #00000067;
    width: 70%;
    height: 35px;
    margin-left: 5px;
}

.btn-send{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    background-color: #032C27;
    border: 2px  rgba(0, 0, 0, 0.596); 
    color: white;
    position: absolute;
    left: 95%;
}
.btn-send:hover{
    cursor: pointer;
}
.icons-input{
    justify-content: space-around; 
}
.icons-input svg {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: white;
  

}
.icons-emoji svg {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: white;
}