.info-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #111b21;
    overflow: hidden;
}
.info-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}